.add-button {
  position: fixed;
  bottom: 40px;
  right: 15px;
  filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.3));
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

.dashboard-container {
  max-width: 100vw;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 100px;
  min-height: 100vh;
}

.pointer-arrow {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}

.bounce-5 {
  animation-name: bounce-5;
  animation-timing-function: ease;
}
@keyframes bounce-5 {
  0%   { transform: scale(1,1)    translateX(0); }
  10%  { transform: scale(1.1,.9) translateX(0); }
  30%  { transform: scale(.9,1.1) translateX(-40px); }
  50%  { transform: scale(1,1)    translateX(0); }
  57%  { transform: scale(1,1)    translateX(-8px); }
  64%  { transform: scale(1,1)    translateX(0); }
  100% { transform: scale(1,1)    translateX(0); }
}


@media screen and (min-width: 768px) {
  .dashboard-container  {
    max-width: 768px;
    overflow-x: hidden;
  }

    .add-button {
      position: fixed;
      bottom: 40px;
      left: 530px;
      overflow-x: hidden;
    }
}

@media screen and (min-width: 1200px) {

  .dashboard-container {
    max-width: 650px;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .add-button {
    margin-right: 25px;
    margin-bottom: 25px;
  }
}