.add-button {
  position: fixed;
  bottom: 40px;
  right: 15px;
  filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.3));
}

.dashboard-container {
  max-width: 100vw;
  overflow-x: hidden;
  padding-top: 20px;
}

