.add-button {
  position: fixed;
  bottom: 40px;
  right: 15px;
  filter: drop-shadow(0 0 6px rgb(121, 120, 120, .4));
}

.dashboard-container {
  max-width: 100vw;
  overflow-x: hidden;
  padding-top: 20px;
}