.create-group-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-top: 15px
}


@media screen and (min-width: 768px) {
  .create-group-form {
    max-width: 768px;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .create-group-form {
    max-width: 650px;
    overflow-x: hidden;
  }
}