.new-round-container {
  max-width: 100vw;
  overflow-x: hidden;
  /* padding-top: 20px; */
  min-height: 100vh;
}

.form-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.back-button-hidden {
  display:none;
  margin-right: 50px;
}

.back-button-form {
  margin-right: 50px;
}

.step-one-container {
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.step-two-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 1200px) {

.new-round-container {
  min-width: 768px;
  max-width: 768px;
  overflow-x: hidden;
  /* padding-top: 20px; */
  min-height: 100vh;
}

  .add-button {
    position: unset;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.3));
  }
}