.new-round-container {
  max-width: 100vw;
  overflow-x: hidden;
  /* padding-top: 20px; */
  min-height: 100vh;
}

.form-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.back-button-hidden {
  display:none;
  margin-right: 50px;
}

.back-button-form {
  margin-right: 50px;
}

.step-one-container {
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.step-two-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}