.burger-closed {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  background-color: #000410;
  width: 0;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.burger-open {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  background-color: #000410;
  width: 250px;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  filter: drop-shadow(0 0 6px rgb(121, 120, 120, .4));
}

.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid rgb(158, 157, 157, .6);
  transition: 0.3s
}

.nav-bar-open {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  border-bottom: 1px solid rgb(158, 157, 157, .5);
}

.children-open {
  opacity: .85;
  background-color: #000410;
  min-height: 100vh;
  transition: .12s;
}

.children-closed {
  transition: opacity .18s;
  background-color: #000410;
  min-height: 100vh;
}

.burger-button-open {
  position: fixed;
  top: 0;
  left: 205px;
  transition: opacity .8s;
}

.burger-button-closed {
  opacity: 0;
}

span {
  font-weight: 500;
}

